{
  "extends": "airbnb/base",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    },
  },
  "env": {
    "node": true,
    "es6": true
  }
}
