<% include header.ejs %>
<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><a href="/">match<span class="audio-lighten">.audio</span></a></h1>
      </div>
    </div>
  </div>
</header>
<div class="container main">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2><%= error.status %></h2>
      <h1><%= message %></h1>
      <% if (error.stack) { %><pre><%= error.stack %></pre><% } %>
    </div>
  </div>
</div>
<% include footer.ejs %>
