<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Unify Audio</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <style>
  .container {
    padding-top: 100px;
  }
  .url-search {
    text-align: center;
    padding-bottom: 50px;
  }
  </style>
</head>
<body>
  <div class="container">
    <div class="row url-search">
      <%= error %>
      <form role="form" method="post" action="/search" class="form-inline">
        <div class="form-group form-group-lg">
          <input type="text" name="url" placeholder="Paste link here" class="form-control">
          <input type="submit" class="btn btn-default btn-lg" value="Find Matches">
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p>Make sharing music from subscription services better. Give us one link and we'll match it with other services and give you back a link with all of them. <a href="/google/album/B3qrtsvk5s3piwyla76sk6qyxny">Here's an example</a>.</p>
      </div>
    </div>
  </div>
</body>
</html>
