<!doctype html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Match Audio</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="home">
  <header>
    <h1><a href="/">match<span class="audio-lighten">.audio</span></a></h1>
  </header>
  <div class="container">

    <div class="row share-form">
      <div class="col-md-6 col-md-offset-3">
        <% if (error.length > 0) { %>
          <p class="alert alert-danger"><%= error %></p>
        <% } %>

        <form role="form" method="post" action="/search">
        <div class="input-group input-group-lg">
          <input type="text" name="url" placeholder="Paste link here" class="form-control">
          <span class="input-group-btn">
            <input type="submit" class="btn btn-lg btn-custom" value="Share Music">
          </span>
        </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p>Make sharing from music services better.
          We match album and track links from Rdio, Spotify, Deezer, Beats Music, Google Music and iTunes and give you back a link with all of them.</p>
        <p><a href="/google/album/B3qrtsvk5s3piwyla76sk6qyxny">Here's a sample</a>.</p>
      </div>
    </div>
  </div>
</body>
</html>
