body {
  font-family: "Open Sans";
  color: #445470;
}

html, body {
  height: 100%;
}

header {
  background: #FE4365;
}

.page-wrap {
  min-height: 100%;
  margin-bottom: -180px;
}
.page-wrap:after {
  content: "";
  display: block;
}
footer, .page-wrap:after {
  margin-top: 80px;
  height: 100px;
}
footer {
  line-height: 100px;
  text-align: right;
}

header h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: 300;
  font-size: 2em;
  line-height: 80px;
}

header h1 a {
  color: #fff;
}

a {
  color: #C04969;
}

a:hover {
  color: #824F6D;
}

header h1 a:hover, header h1 a:focus{
  color: #ffacc5;
  text-decoration: none;
}

.home input[type="text"]:focus {
  border-color: rgba(255, 68, 109, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 5px rgba(255, 68, 109, 0.8);
  outline: 0 none;
}

.share header h1, .share header h1 {
  text-align: left;
  font-size: 1.5em;
  line-height: 36px;
}

.audio-lighten {
  color: #ffacc5;
}

.artist-lighten {
  color: #8396b0;
  font-weight: 300;
}

h2 {
  font-size: 1.8em;
  font-weight: 700;
  margin-bottom: 40px;
}

h3 {
  font-size: 1.5em;
  color: #8396b0;
  font-weight: 300;
}

.share-form {
  margin-top: 25vh;
  margin-bottom: 20px;
  text-align: center;
}

.share-form form {
  margin-bottom: 30px;
}

.btn-custom {
  background-color: #FE4365;
}
.btn-custom, .btn-custom:active, .btn-custom:hover, .btn-custom:focus {
  color: #fff;
}

.blurb {
  margin-bottom: 50px;
}

.recent img {
  margin-bottom: 30px;
}

.share-tools {
  text-align: center;
  margin-top: 40px;
  font-weight: 300;
}

.share-tools img {
  width: 20px;
}

.service {
  padding: 40px 10px 10px 10px;
}
.matching-from {
  position: absolute;
  top: 10px;
  left: 25px;
}
.source-service {
  border-radius: 5px;
  background: #eee;
}
.album-artwork {
  margin-bottom: 10px;
}
.not-found {
  opacity: 0.3;
}
.service-link {
  text-align: center;
}
.service-link a {
  font-size: 1.8em;
  color: #444;
}
.service-link a:hover {
  text-decoration: none;
}
.service-link img {
  margin-bottom: 7px;
}

.js-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.js-video.widescreen {
  padding-bottom: 57.25%;
}

.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.error h1, .error h2 {
  font-weight: 300;
  text-align: center;
}

.error .main h1 {
  font-size: 2em;
  margin-bottom: 50px;
}

.error h2 {
  font-size: 4em;
  margin-top: 50px;
}
